apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: redirect-old-twig
  namespace: default
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`twig.tchlabs.net`)
      middlewares:
        - name: middleware-stripprefix
      kind: Rule
      services:
        - name: redirect-service
          port: 80